<div class="cube" (click)="cubeClick()">
  <button *ngIf="device" class="SourceButton" (click)="SourceClick()"> <mat-icon>device_hub</mat-icon> </button>

  <div *ngIf="actuator">
    <div *ngIf="device">
      <b>{{actuator.name}} &#64; {{device.name}}</b>
    </div>
    <div *ngIf="!device">
      <b>{{actuator.name}}</b>
    </div>
  </div>
  <div *ngIf="metadatas">
    <app-metadata-icons [metadatas]="metadatas"></app-metadata-icons>
  </div>
  <div *ngIf="latestVal && iotype != 3">
    <br/>
    <div *ngIf="latestVal.numericValue >= 0" style="display: inline-block;">
      <mat-form-field class="current-value">
        <mat-label>Current {{latestVal.name}}</mat-label>
        <input matInput disabled value="{{latestVal.numericValue}} {{latestVal.unit}}" #stringInput>
      </mat-form-field>
    </div>
    <div *ngIf="latestVal.stringValue" style="display: inline-block;">
      <mat-form-field class="current-value">
        <mat-label>Current {{latestVal.name}}</mat-label>
        <input matInput disabled value="{{latestVal.stringValue}} {{latestVal.unit}}" #stringInput>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="iotype===-1">
    <table>
      <td>
        <mat-form-field class="string-input">
          <mat-label>String value</mat-label>
          <input matInput placeholder="String value" value={{stringvalue}} #stringInput>
        </mat-form-field>
        <br />
        <mat-form-field class="string-input">
          <mat-label>Numeric value</mat-label>
          <input matInput type="number" placeholder="0" value={{numericvalue}} #numericInput>
        </mat-form-field>
      </td>
      <td>
        <button (click)="send(stringInput.value, numericInput.value)"> SEND</button>
      </td>
    </table>
  </div>

  <div *ngIf="iotype===0">
    <input type="range" class="linearActuator" min={{minValue}} max={{maxValue}} value={{latestVal?.numericValue}} (input)="onSliderChange(linearActuator.value)" #linearActuator/>
    <button class="onButton" (click)="onButtonClick()">ON</button>
    <button class="offButton" (click)="offbuttonClick()">OFF</button>
  </div>

  <div *ngIf="iotype===1">
    <button class="onButton" (click)="onButtonClick()">ON</button>
    <button class="offButton" (click)="offbuttonClick()">OFF</button>
  </div>

  <div *ngIf="iotype===2">
    <button class="triggerButton" (click)="triggerButtonClick()">CLICK</button>
  </div>

  <div *ngIf="iotype===3">
      <input  style="width: 60%; border-width: 6px; padding: 0px;" [style.border-color]="latestVal?.stringValue" type="color" value="{{stringvalue}}" (input)="onColorChange(colorInput.value)" #colorInput/> <br/>
      <button class="onButton" (click)="onButtonClick()">ON</button>
      <button class="offButton" (click)="offbuttonClick()">OFF</button>
  </div>

  <div *ngIf="iotype===4">
    <input type="range" class="linearActuator" min={{minValue}} max={{maxValue}} value={{latestVal?.numericValue}} (input)="onSliderChange(linearActuator.value)" #linearActuator/>
    <button class="onButton" (click)="onButtonClick()">ON</button>
    <button class="offButton" (click)="offbuttonClick()">OFF</button>
    <input type="range" class="linearActuator" min=2000 max=10000 (input)="onCCT(cctActuator.value)" #cctActuator/>
</div>
</div>