.string-input {
    scrollbar-face-color: chartreuse;
}

mat-label {
    color: lightblue;
}

.mat-form-field-ripple {
    background-color: blue
}

.cube {
    background-color: darkblue;
    width: 100%;
    min-width: 400px;
    height: 100%;
    min-height: 200px;
    padding: 10px !important;
    border: (solid, black, 2px);
}


.onButton:hover {
    background-color: #002000;
    border-bottom: solid;
    border-bottom-color: lawngreen;
    border-bottom-width: 3px;
}

.offButton {
    color: var(--whiteText) !important;
    text-align: center;
    background-color: transparent;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid;
    border-bottom-color: darkred !important;
    border-bottom-width: 3px;
    border-radius: 0px !important;
    height: 50px;
    width: 45%;
}

.linearActuator{
    width: 90%;
    height: 20px;
}

.SourceButton{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
}

.onButton {
    color: var(--whiteText) !important;
    text-align: center;
    background-color: transparent;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid;
    border-bottom-color: mediumseagreen !important;
    border-bottom-width: 3px;
    border-radius: 0px !important;
    height: 50px;
    width: 45%;
}

.offButton:hover {
    background-color: #200000;
    border-bottom: solid;
    border-bottom-color: red;
    border-bottom-width: 3px;
}

.triggerButton {
    color: var(--whiteText) !important;
    text-align: center;
    background-color: transparent;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: solid;
    border-bottom-color: #0085de !important;
    border-bottom-width: 3px;
    border-radius: 0px !important;
    height: 50px;
    width: 70%;
}

.triggerButton:hover {
    background-color: #200000;
    border-bottom: solid;
    border-bottom-color: rgb(0, 32, 138);
    border-bottom-width: 3px;
}