.overlayDiv{
    width: 100%;
}

mat-grid-tile {
    background: darkblue;
    border: black, 10px, solid;
    border-radius: 3px;
  }
  .grid-layout-custom{
    width: 500vw;
    height: 500vh;
  }
  .example-list {
    width: 400px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .cube{
    width: 100% !important;
    padding: 10px;
    flex: 1 1 auto;
    border: (solid, black, 2px);
};