<div class="componentCube">
    <div>
    <button *ngIf="isSource" class="SourceButton" (click)="SourceClick()" > S </button>
    <button *ngIf="isDestination" class="Dest" (click)="DestinationClick()"> D </button>
</div>
<div>
    <app-aut-value-input *ngIf="ValueInitComponent" [Rule] = "ValueInitComponent"></app-aut-value-input>
    <app-aut-change-destination *ngIf="ChangeDestinationRule" [Rule] = "ChangeDestinationRule"></app-aut-change-destination>
    <app-aut-user-input *ngIf="UserInputRule" [Rule] = "UserInputRule"></app-aut-user-input>
</div>
<div>
    {{Component?.dragPosition?.x}}/{{Component?.dragPosition?.y}}
    <button class="saveButton" (click)="saveClick()">SubmitChanges</button>
</div>
</div>


