<div class="componentCube">
    <!-- Left Side Buttons -->
    <div class="left-buttons">
      <button 
        class="input-button"
        *ngFor="let input of Rule?.inputs" 
        (click)="DestinationClick(input.id)" 
        mat-raised-button 
        #buttonRef
        color="primary">
        {{ inputMapping[input.type]}}{{input.index}}
      </button>
    </div>
  
    <!-- Center Content -->
    <div class="center-content">
      <div class="component-text">{{Rule?.name}}</div>
    </div>
  
    <!-- Right Side Buttons -->
    <div class="right-buttons">
      <button 
        class="output-button"
        *ngFor="let output of Rule?.outputs" 
        (click)="SourceClick(output.id)" 
        mat-raised-button 
        #outputRef
        color="primary">
        {{output.index}}
      </button>
    </div>
  
    <!-- Bottom Buttons -->
    <div class="bottom-buttons">
      <button class="saveButton" mat-raised-button (click)="editClick()">Edit</button>
    </div>
  </div>