<h1> Automatization betatest</h1>
<p>there is long way until it will be working properly</p>

<mat-form-field appearance="fill">
  <mat-label>Select new rule</mat-label>
  <mat-select matNativeControl [(ngModel)]="selectedRuleId" name="rules">
    <mat-option value="" selected></mat-option>
    <mat-option *ngFor="let rule of supportedRules" [value]="rule.id">
      {{rule.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-mini-fab color="primary" (click)="createRule()" aria-label="Click to add rule">
  <mat-icon>add</mat-icon>
</button>

<p>Add custom input</p>
<mat-form-field appearance="standard">
  <mat-label>Input name</mat-label>
  <input matInput #inputName value="">
</mat-form-field>

<button mat-mini-fab color="primary" aria-label="Add custom input" (click)="AddCustomInput(inputName.value)">
  <mat-icon>add</mat-icon>
</button>

<br />
<div  class="example-boundary">
  <svg #rules style="position: relative; width:1000px; height:1000px;">
    <line *ngFor="let item of polylines" [attr.x1]="item.x1" [attr.x2]="item.x2" [attr.y1]="item.y1" [attr.y2]="item.y2"
      [attr.stroke]="item.stroke" stroke-width="5" />
  </svg>
  <p>Here are automats</p>
  <br />
  <div *ngFor="let rule of ruleService.Rules" [style.left.px]="rule.drawingPos?.x" [style.top.px]="rule.drawingPos?.y"
    class="example-box" cdkDragBoundary=".example-boundary" cdkDrag (cdkDragEnded)="dragEnd($event, rule)">
    <app-automatization-component [Component]='rule' [ComponentCage]='this'></app-automatization-component>
  </div>
</div>