<h2>Automatization</h2>
<p style="color: var(--color-text-muted); margin-bottom: 12px;">Create and manage automation rules</p>

<mat-form-field appearance="fill">
  <mat-label>Select new rule</mat-label>
  <mat-select matNativeControl [(ngModel)]="selectedRuleId" name="rules">
    <mat-option value="" selected></mat-option>
    <mat-option *ngFor="let rule of supportedRules" [value]="rule.id">
      {{rule.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-mini-fab color="primary" (click)="createRule()" aria-label="Click to add rule">
  <mat-icon>add</mat-icon>
</button>

<p>Add custom input</p>
<mat-form-field>
  <mat-label>Input name</mat-label>
  <input matInput #inputName value="">
</mat-form-field>

<button mat-mini-fab color="primary" aria-label="Add custom input" (click)="AddCustomInput(inputName.value)">
  <mat-icon>add</mat-icon>
</button>

<br />

<div class="example-boundary">
  <div *ngFor="let rule of ruleService.Rules; let i = index" 
       [id]="'rule-' + i"
       [style.left.px]="rule.drawingPos?.x" 
       [style.top.px]="rule.drawingPos?.y"
       class="example-box" 
       cdkDragBoundary=".example-boundary" 
       cdkDrag 
       (cdkDragEnded)="dragEnd($event, rule)"
       (cdkDragMoved)="ReDrawConnections()">
       <app-automatization-component (buttonGenerated)="handleButtonGenerated($event)" [Rule]='rule' [Cage]='this'></app-automatization-component>
  </div>
</div>

<script src="leader-line.min.js"></script>