.automatbackground{
    
    width: 1000px ;
    height: 1000px ;
    background-color: red ;
}

.component{
    width: 200px !important;
    background-color: gray;
    position: absolute;
}

app-automatization-component{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
}

.example-box {
    width: 200px;
    height: 150px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: gray;
    border-radius: 4px;
    position: absolute;
    top: 250px;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .example-boundary {
    width: 1000px;
    height: 1000px;
    max-width: 100%;
    border: dotted #ccc 2px;
  }