.string-input {
    font-size: 0.8rem; /* Adjust font size */
    margin-top: -5px;
    margin-bottom: -10px;
    width: 80%;
  }
  
  .string-input input {
    padding: 4px 8px; /* Adjust padding */
    font-size: 0.8rem; /* Ensure font size matches parent */
  }