<div class="component">
    <button (click)="SelectSource()">Select Source</button>
    <div *ngIf="Rule?.behaviour?.Name && Rule?.behaviour?.Name?.trim()">
      Selected source: {{Rule?.behaviour?.Name}}
    </div>
    <br/>
    <mat-form-field class="string-input" style="margin-top: -5px; margin-bottom: -10px;">
        <mat-label>Event name</mat-label>
        <input matInput placeholder="all" value={{eventtype}} [(ngModel)]="eventtype" (ngModelChange)="onChange()">
      </mat-form-field>
      <p>Let empty or set all to react to all events</p>
</div>