@page "/"
@using Conectify.Services.Shelly.Services
@attribute [StreamRendering]
@inject WebsocketCache websocketCache;

<PageTitle>Shelly</PageTitle>

<h1>Shelly overlook</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>ShellyId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelly in shellys)
        {
            <tr>
                <td>@shelly.Shelly.Name</td>
                <td>@shelly.Shelly.Id</td>
                <td>@shelly.ShellyId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private ShellyDeviceCacheItem[] shellys = [];

    protected override void OnInitialized()
    {
        // Populate the shellys array
        shellys = websocketCache.Cache.Values.ToArray();
    }
}