<mat-dialog-content class="mat-typography" style="width: 80%;">
    <mat-list>

        <mat-list-item>
                <mat-checkbox class="example-margin" [(ngModel)]="data.params.editable"> Edit</mat-checkbox>
        </mat-list-item>
    <mat-list-item>
            <div style="width: 10px;"></div>
            <span>
                <form (submit)="save()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Dashboard name</mat-label>
                        <input matInput [(ngModel)]="data.dashboard.name" name="username">
                    </mat-form-field>
                    <button mat-raised-button (click)="save()"><mat-icon>save</mat-icon></button>
                  </form>
            </span>
            <br />
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-raised-button (click)="sensor()"><mat-icon>add</mat-icon>Sensor</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button (click)="actuator()"><mat-icon>add</mat-icon>Actuator</button>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>