mat-grid-list {
  margin: 0 auto;
  width: 100%;
}

mat-grid-tile {
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  overflow: visible !important;
}

.grid-layout-custom {
  width: 100%;
  height: auto;
}

app-actuator-cube {
  width: 100%;
  height: 100%;
  display: block;
}
