/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

html, body { height: 100%;  background-color: black; color: aliceblue;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: aliceblue; }
p{
    color: aliceblue;
}

.mat-mdc-text-field-wrapper {
    background-color: transparent !important;
    color: aliceblue;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
    color: aliceblue !important;
}

