app-sensor-cube {
  width: 100%;
  flex: 1 1 auto;
}

mat-grid-list {
  margin: 0 auto;
  width: 100%;
  padding: 8px;
}

mat-grid-tile {
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  overflow: visible !important;
}
