<h4>{{Behaviour?.name}}</h4>

<div style="height: 83%;">
    <app-aut-and *ngIf="AndRuleX" ></app-aut-and>
    <app-aut-value-input *ngIf="ValueInitRule" [Rule]="ValueInitRule"></app-aut-value-input>
    <app-aut-change-destination *ngIf="ChangeDestinationRule" [Rule]="ChangeDestinationRule"></app-aut-change-destination>
    <app-aut-user-input *ngIf="UserInputRule" [Rule]="UserInputRule"></app-aut-user-input>
    <app-aut-set-time *ngIf="SetTimeRule" [Rule]="SetTimeRule"></app-aut-set-time>
    <app-aut-set-value *ngIf="SetValueRule" [Rule]="SetValueRule"></app-aut-set-value>
    <app-aut-decision *ngIf="DecisionRule" [Rule]="DecisionRule"></app-aut-decision>
</div>

<button *ngIf="CanAddTrigger" (click)="AddTrigger()">Add Trigger</button>
<button *ngIf="CanAddParameter" (click)="AddParameter()">Add Parameter</button>
<button *ngIf="CanAddValue" (click)="AddInput()">Add Input</button>
<button *ngIf="CanAddOutput" (click)="AddOutput()">Add Output</button>
<button (click)="Save()" >Save and Close</button>
<button (click)="Close()">Close</button>
