<p>Set value to</p>
<div>
<mat-form-field class="string-input" style="margin-bottom: -5px; margin-top: -10px;">
    <mat-label>String value</mat-label>
    <input matInput placeholder="String value" value={{stringvalue}} [(ngModel)]="stringvalue" #stringInput (ngModelChange)="onChange()">
  </mat-form-field>
  <mat-form-field class="string-input" style="margin-top: -5px; margin-bottom: -10px;">
    <mat-label>Numeric value</mat-label>
    <input matInput type="number" placeholder="0" value={{numericvalue}} [(ngModel)]="numericvalue" #numericInput (ngModelChange)="onChange()">
  </mat-form-field>
</div>
