<div *ngIf="sensor" class="cube" (click)="klikaj()" height >

<table class="hiddenTable" >   
<tr>
<td style="background-color: transparent !important; vertical-align: centre;">
    <h4><b>{{sensor.name}}</b></h4>
    <div *ngIf="metadatas">
        <app-metadata-icons [metadatas] = "metadatas"></app-metadata-icons>
      </div>
    <!-- <div><b>{{sensor.sourceThing.thingName}}</b></div> -->
    <div *ngIf="latestVal">
        {{latestVal.name}}
        <div *ngIf="latestVal.numericValue >= 0">
            <mat-form-field appearance="standard">
                <mat-label>Value</mat-label>
                <input matInput disabled value="{{latestVal.numericValue}} {{latestVal.unit}}">
            </mat-form-field>
        </div>
        <div *ngIf="latestVal.stringValue">
            <mat-form-field appearance="standard">
                <mat-label>Value</mat-label>
                <input matInput disabled value="{{latestVal.stringValue}} {{latestVal.unit}}">
            </mat-form-field>
            
        </div>
    </div>

</td>
<br/>
<br/>
<td *ngIf="valsReady" width="100%">
    <app-last-value [values] = "values"></app-last-value>
<!-- <div echarts [autoResize]="true" [options]="chartOption" class="cube-chart" ></div> -->
</td>
</tr>
</table>
</div>
