<div *ngIf="sensor" class="cube" (click)="klikaj()" height >

<table class="hiddenTable" >   
<tr>
<td style="background-color: transparent !important; vertical-align: centre;">
    <h4><b>{{sensor.name}}</b></h4>
    <div *ngIf="metadatas">
        <app-metadata-icons [metadatas] = "metadatas"></app-metadata-icons>
      </div>
    <!-- <div><b>{{sensor.sourceThing.thingName}}</b></div> -->
<div *ngIf="latestVal">
    {{latestVal.name}} 
    <div *ngIf="latestVal.numericValue">
    {{latestVal.numericValue}} {{latestVal.unit}}
    </div>
    <div *ngIf="latestVal.stringValue">
    {{latestVal.stringValue}} {{latestVal.unit}}
    </div>
</div>

</td>
<br/>
<br/>
<td *ngIf="valsReady" width="100%">
<div echarts [autoResize]="true" [options]="chartOption" class="cube-chart" ></div>
</td>
</tr>
</table>
</div>
