<!-- <span class="toolbar"> -->
<mat-toolbar>
  <div style="width: 20px;"></div>
  <h1> Conectify </h1>

  <div style="width: 20px;"></div>
  <span class="buttonBar">

    <button class="navbar-button" routerLink="/sensors">Sensors</button>
    <button class="navbar-button" routerLink="/actuators">Actuators</button>
    <button class="navbar-button" routerLink="/automatization">Automatization</button>
    <button class="navbar-button" routerLink="/metadata">Metadata</button>
    <button *ngIf="showDasboard" class="navbar-button" routerLink="/dashboard">Dashboard</button>
  </span>
  <span class="example-spacer"></span>
  <mat-card style="background-color: var(--color5);">
    <mat-card-content>
      <form *ngIf="!isLoggedIn; else loggedInTemplate" (submit)="login()">
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <ng-template #loggedInTemplate>
        <span>
        <label >Welcome, {{ username }}!&nbsp;</label>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
         </span>
      </ng-template>
    </mat-card-content>
  </mat-card>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>