<!-- <span class="toolbar"> -->
<mat-toolbar >
  <div style="width: 20px;"></div>
  <h1> Conectify </h1>

  <div style="width: 20px;"></div>
  <div fxHide.lt-md>
  <span class="buttonBar" >
    <button *ngIf="showDasboard" class="navbar-button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button class="navbar-button" routerLink="/sensors" routerLinkActive="active">Sensors</button>
    <button class="navbar-button" routerLink="/actuators" routerLinkActive="active">Actuators</button>
    <button class="navbar-button" routerLink="/automatization" routerLinkActive="active">Automatization</button>
    <button class="navbar-button" routerLink="/metadata" routerLinkActive="active">Metadata</button>
    <button class="navbar-button" routerLink="/device/-1" routerLinkActive="active">Devices</button>
    <button class="navbar-button" routerLink="/apps" routerLinkActive="active">Apps</button>
  </span>
</div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="showDasboard" class="navbar-button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
    <button class="navbar-button" routerLink="/sensors" routerLinkActive="active">Sensors</button>
    <button class="navbar-button" routerLink="/actuators" routerLinkActive="active">Actuators</button>
    <button class="navbar-button" routerLink="/automatization" routerLinkActive="active">Automatization</button>
    <button class="navbar-button" routerLink="/metadata" routerLinkActive="active">Metadata</button>
    <button class="navbar-button" routerLink="/device/-1" routerLinkActive="active">Devices</button>
    <button class="navbar-button" routerLink="/apps" routerLinkActive="active">Apps</button>
  </mat-menu>

  <span class="example-spacer"></span>
  <mat-card appearance="outlined" style="background-color: var(--color5);">
    <mat-card-content>
      <form *ngIf="!isLoggedIn; else loggedInTemplate" (submit)="login()">
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <ng-template #loggedInTemplate>
        <span>
        <label fxHide.xs>Welcome, {{ username }}!&nbsp;</label>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
         </span>
      </ng-template>
    </mat-card-content>
  </mat-card>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>